.m-reverse{
    border: 1px solid #01d6d3;
    padding: 10px;
    margin: .4rem;
    word-wrap: break-word;
    .reverse-result{
        border: 1px solid red;
        margin: 10px;
        padding: 5px;
        height: 1rem;
    }
}